@charset "UTF-8";

h1 {background-color:#066;
color: #fff;
padding: 5px 12px; } 

h2 {border-bottom: 4px dashed #066;
color: #066;
padding: 3px 10px; } 

.li01 {
 color: red;
 text-decoration:underline;  
 font-size: 1.2em;}

.bg_01 {
background-color: #6ce; }

































